.options-wrapper {
display: flex;
align-items: center;
}

.options-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 31vw;
  height: 50vh;
  border: 5px solid black;
  border-radius: 7px;
  box-shadow: 0 3px 2px 1px #adb5bd;
  opacity: .9;
  margin: 1%;
}
.options-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.recipes {
  background-image: url('../../images/recipes.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.workouts {
  background-image: url('../../images/workout.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.playlist {
  background-image: url('../../images/playlist.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.options-button {
  width: 50%;
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  background-color: #ffffff;
  opacity: 0.6;
  padding: 1%;
  color: #212529;
  border-radius: 5px;
  border: 1px solid #343a40;
  margin-bottom: 0.5%;
}