* {
  padding: 0;
  font-family: 'Exo', sans-serif;
}

#root {
  text-align: center;
  display: flex;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-image: url('./images/background-img.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
